/* @import url("https://fonts.google.com/specimen/ABeeZee?preview.text=h%20o%20f%20u%20.%20register%20food&preview.text_type=custom#standard-styles"); */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Montserrat:ital,wght@1,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin Sans');


.title {
  text-align: center;
  font-family: "palatino";
  font-weight: bold;
  color: #ffffff;
}
#titleText{
  padding-top: 100px;
  margin-top: 0px;
  font-size: 60px;
  font-size: 85px;

}
body{
  margin: 0px;
}

#flexContainer {
  justify-content: center;
  display: flex;
  flex-direction: row;
  width: auto;
  font-family: "josefin sans";
  color: #ffffff;
  margin-left: 70px;
  margin-right: 70px;
}

.leftColumnContainer {
  display: flex;
  flex-direction: column;
  flex: 50%;
  margin-right: 70px;
  /* font-family: "ABeeZee";
  color: #ffffff; */
}
#displayPost{
  display: inline-block;
  width: 100%;
  height: 100%;
  color: black;
  
}
.rightColumnContainer {
  display: flex;
  flex-direction: column;
  flex: 50%;
  margin-left: 70px;
  
}

.rightFlexInputs {
  /* This appears to inherit display flex and column dir. Maybe flex 50%? */
  
}


.centerText {
  text-align: center;
}
button{
  font-family: "palatino";
  border-style: none;
  border-radius: 25px;
  background-color: #9aaf96;
  color: black;
  font-size: 36px;
  width: 300px;
  margin-top: 30px;
}
input{
  font-family: "palatino", inherit ;
  color: black;
  border-style: solid;
  border-radius: 25px;
  border-color: white;
  background-color: #fff;
  margin: 5px;
  font-size: 24px;
}
p{
  font-size: 30px;
}

#backgroundImage{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -10;
}
#logo{
    height: 100px;
    margin-left: 35px;
    margin-top: 25px;
}
#logoDiv{
    justify-self: center;
    position: absolute;
}
.fontSize {
  font-size:23px;
  font-family: "josefin sans";
  display: flex;
  flex-direction: row;
  align-self: center;
  }

.leftFlexReads {
  transform: translateY(-30px);
}

label {
  width: 270px;
  font-size: 36px;
}

.bold {
  font-weight: bold;
  font-size: 52px;
}

.palatino {
  font-family: "josefin sans";
}

#specialRightButton {
  margin-left: 150px;
}