@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Montserrat:ital,wght@1,800&display=swap');

@import url('https://fonts.googleapis.com/css?family=Josefin Sans');

body{
    margin: 0;
    padding: 0;
}
#logo{
    height: 100px;
    margin-left: 35px;
    margin-top: 25px;
}
#logoDiv{
    justify-self: center;
    position: absolute;
}
#backGround{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}
#container{
    display: flex;
    width: 100%;
    justify-content: center;
}
#container2{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

}
#container2Inner{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    margin-right: 200px;
    margin-left: 100px;
}

#map{
    height: 50vh;
    width: 70vh;
    border-radius: 3%;
    overflow: auto;
    margin-right: 50px;
}
#mainHeader{
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 80px;
    font-size: 70px;
    font-family: "palatino";
    flex: 1;
    
    
}
.inputTitles{
    color: #FFFFFF;
    /* font-family: "ABeeZee"; */
    font-family: 'Josefin Sans';
    margin-bottom: 10px;
    font-size: 32px;

}
#theButton{
    margin-top: 25px;
    font-family: "palatino";
    font-size: 32px;
    color: 'black';
    background-color: #cfb990;
    border-style: none;
    border-radius: 25px;
}

input {
    width: 400px;
    height: 50px;
    font-size: 24px;
    border-style: solid;
    border-color: white;
    border-radius: 25px;
}

/* NAVBAR */

#navBar{
    display:inline-block;
    margin-top: 40px;
    white-space: nowrap;
    justify-content: center;
    position: absolute;
}
#homeDiv{
    display: inline-block;
    margin-left: 800px;
}
#homeLink{
    text-decoration: none;
    font-family: "palatino";
    color: #FFFFFF;
    font-size: 30px;
    margin-right: 50px;
}
#homeLink:hover{
    color: #AE6275;
}
#loginDiv{
    display: inline-block;
}
#loginLink{
    text-decoration: none;
    font-family: "palatino";
    color: #FFFFFF;
    font-size: 30px;
    margin-right: 50px;
}
#loginLink:hover{
    color: #CF9690;
}
#giveDiv{
    display: inline-block;
}
#giveLink{
    text-decoration: none;
    font-family: "palatino";
    color: #FFFFFF;
    font-size: 30px;
    margin-right: 50px;
}
#giveLink:hover{
    color: #9AAF96;
}
#findDiv{
    display: inline-block;
}
#findLink{
    text-decoration: none;
    font-family: "palatino";
    color: #FFFFFF;
    font-size: 30px;
    margin-right: 50px;
}
#findLink:hover{
    color: #CFB990;
}
#aboutDiv{
    display: inline-block;
}
#aboutLink{
    text-decoration: none;
    font-family: "palatino";
    color: #FFFFFF;
    font-size: 30px;
    margin-right: 50px;
    white-space: nowrap;
}
#aboutLink:hover{
    color: #AF90AF;
}

/* Media query */

@media screen and (max-width: 1000px){
    #container2{
      flex-direction: column;
      margin-top: 50px;
    }
    #container2Inner{
      order: 0;
      margin: 0px;
      align-self: center;
    }
    #map{
      order: 1;
      margin-top: 30px;
      align-self: center;
      margin-bottom: 35px;
    }
    #backGround{
      object-fit: cover;
      position: fixed;
    }
    #mainHeader{
      margin-top: 140px;
      font-size: 50px;
    }
    #navBar {
        display: none;
    }


  }