@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Montserrat:ital,wght@1,800&display=swap');

a {
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 1;
}

.title {
    display: flex;
    text-align: center;
    position: relative;
    justify-content: center;
}
#titleText{
  font-size: 50px;
  padding-top: 100px;
}
#hide1{
  font-size: 30px;
  margin-bottom: 50px;
}
#logo{
    height: 100px;
    margin-left: 35px;
    margin-top: 25px;
}
#logoDiv{
    justify-self: center;
}
.columnFlexContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 00px;
    /* margin-top: 50px; */
}

.flexInputs {
    display: flex;
    flex-direction: row;
    align-self: center;
}
body{
  font-family: "ABeeZee";
  color: #fff;
}
.title#hide1{
  line-height: 0px;
}

label {
    width: 200px;
}
input{
  border-style: solid;
  border-radius: 40px;
}
.flexInputs{
  margin: 10px;
  font-size: 24px;
}
button {
    margin-top: 10px;
    width: 120px;
    background-color: #e8cd97;
    color: #fff;
    border-style: solid;
    border-radius: 25px;
    font-size: 25px;
}

#toShow {
    align-self: center;
    width: 300px;
    line-height: 30px;
    display: none;
    font-size: 20px;
}
#hide7{
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: flex-end;
  margin-left: 20px;
  align-items: center;
}

#backgroundImage{
  position: absolute;
  flex: wrap;
  width: 100%;
  height: 100%;
  z-index: -1;
}